.todo-tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: auto;
  background-color: #fff;
}

.todo-tasks__no-results {
  margin: auto;
}
