.todo-category {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #efecec;
  font-size: 14px;
  padding: 5px 10px 5px 25px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.todo-category.is-active:before {
  position: absolute;
  left: 10px;
  color: #337ab7;
  content: '\e802';
  font-family: "fontello";
}

.todo-category__subcategories {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 5px;
}

.toto-category__btn-edit,
.toto-category__btn-add,
.toto-category__btn-remove {
  border: 0;
  margin-left: 5px;
  padding: 0;
  box-shadow: 0 0 0 1px #7e7e7e;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
