.todo-category {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  color: #776e6e;
  background-color: #efecec;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.todo-category__link {
  color: #000;
  text-decoration: none;
}

.todo-category__link.is-active {
  color: #337ab7;
  font-weight: 600;
}

.toto-category__btn-edit,
.toto-category__btn-add,
.toto-category__btn-remove {
  border: 0;
  margin-left: 5px;
  padding: 0;
  box-shadow: 0 0 0 1px #7e7e7e;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
