.todo {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 700px;
  max-height: 800px;
  margin: 0 auto;
  padding: 5px 20px;
  text-align: center;
  background: #e8dbcd;
  border-radius: 10px;
}

.todo__row {
  display: flex;
  justify-content: space-between;
}

.todo__row--center {
  align-items: center;
}

.todo__aside {
  align-items: flex-start;
  flex-basis: 30%;
  text-align: left;
}

.todo__main {
  flex-basis: 60%;
  text-align: right;
}
